@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Montserrat:wght@100;200;300&display=swap');

$primary-color: #1C0A27; // xiketic
$secondary-color: #4A5101; // ming
$tertiary-color: #F16023; // vermillion
$quaternary-color: #D8B93D; // jonquil
$quinary-color: #EDE3D6; // cornsilk
$senary-color: #E0D9C3; //opal
$title-stack: 'Aboreto', cursive;
$font-stack: 'Montserrat', sans-serif;
$min-height: 100vh;
$min-width: 100%;
$small-breakpoint: 480px;
$medium-breakpoint: 768px;
$large-breakpoint: 1024px;
$quaternary-color-hover: #9c862f;
$quaternary-color-active: #ffdc52;
$background-color: rgba(224, 217, 195, .7);

.app {
  font-family: $font-stack;
}

.list {
  list-style: none;
}

.redspan {
    background-color: $tertiary-color;
    width: $min-width;
    height: .5rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.yellowspan {
    background-color: $quaternary-color;
    width: $min-width;
    height: .5rem;
}

.whitespan {
    background-color: $quinary-color;
    width: 80%;
    height: .25rem;
}

// @media (prefers-color-scheme: dark) {
//   .card,
//   .footer {
//     border-color: #222;
//   }
//   .code {
//     background: #111;
//   }
//   .logo img {
//     filter: invert(1);
//   }
// }

$transition-timeout: 1000ms;

.content-left-enter {
    opacity: 0;
    transform: translateX(-10vw)
}

.content-right-enter {
    opacity: 0;
    transform: translateX(10vw)
}

.content-bottom-enter {
    opacity: 0;
    transform: translateY(10vh)
}

.content-grow-enter {
    opacity: 0;
    transform: scale(.8);
}

.content-left-enter-active,
.content-right-enter-active,
.content-bottom-enter-active,
.content-grow-enter-active {
    opacity: 1;
    transform: translateX(0) scale(1);
    transition: opacity $transition-timeout, transform $transition-timeout;
}
